@primary-color: #47B7FE;
@secondary-color: #6651D4;
@third-color: #FBAA9E;
@danger-color: #EB6B6B;
@warning-color: #F3BA2F;
@success-color: #4AC8AA;
@surface-color: #283763;
@background-color: #334271;
@overline-color: #D3D6E8;
@title-color: #FFF;

.ant-btn > span {
  color: @primary-color;
}

.ant-btn:not([disabled]):hover {
  border: 1px solid @primary-color !important;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  border: 1px solid @primary-color;
}