.c-secondary-btn .ant-btn {
  background-color: transparent !important;
  border: 1px solid #5fe90a !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-secondary-btn .ant-btn:focus {
  border: 1px solid #5fe90a !important;
  background-color: #5fe90a !important;
}
.c-secondary-btn .ant-btn:focus p {
  color: #001560 !important;
}
.c-secondary-btn .ant-btn:active {
  border: 1px solid #5fe90a !important;
  background-color: #5fe90a !important;
}
.c-secondary-btn .ant-btn:active p {
  color: #5fe90a !important;
}
.c-secondary-btn--light .ant-btn {
  background-color: transparent !important;
  border: 1px solid #5fe90a !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-secondary-btn--light .ant-btn:focus {
  border: 1px solid #5fe90a !important;
  background-color: #5fe90a !important;
}
.c-secondary-btn--light .ant-btn:focus p {
  color: #fff !important;
}
.c-secondary-btn--light .ant-btn:active {
  border: 1px solid #5fe90a !important;
  background-color: #5fe90a !important;
}
.c-secondary-btn--light .ant-btn:active p {
  color: #fff !important;
}
.c-secondary-btn--light .ant-btn > p {
  color: #5fe90a !important;
}
.c-secondary-btn--sm .ant-btn {
  padding: 22px 18px;
}
.c-secondary-btn .ant-btn > p {
  color: #5fe90a !important;
}
.c-secondary-btn .ant-btn:not([disabled]):hover {
  background-color: rgba(95, 233, 10, 0.15) !important;
}
.c-secondary-btn--disabled .ant-btn {
  background-color: transparent !important;
  border: 1px solid #ABABAB !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-secondary-btn--disabled .ant-btn > p {
  color: #ABABAB !important;
}
.c-primary-btn .ant-btn {
  background-color: transparent !important;
  border: 2px solid #001560 !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-primary-btn .ant-btn:focus,
.c-primary-btn .ant-btn:active {
  border: none !important;
  background-color: #001560 !important;
}
.c-primary-btn .ant-btn:focus p,
.c-primary-btn .ant-btn:active p {
  color: #EEEFF2 !important;
}
.c-primary-btn .ant-btn > p {
  color: #001560 !important;
}
.c-primary-btn .ant-btn:not([disabled]):hover {
  background-color: rgba(0, 21, 96, 0.15) !important;
}
.c-primary-btn--disabled .ant-btn {
  background-color: transparent !important;
  border: 2px solid #ABABAB !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-primary-btn--disabled .ant-btn > p {
  color: #ABABAB !important;
}
.c-blue-outline-btn--sm .ant-btn {
  padding: 22px 20px !important;
}
.c-blue-outline-btn--md .ant-btn {
  padding: 22px 25px !important;
}
.c-blue-outline-btn .ant-btn {
  background-color: transparent !important;
  border: 1px solid #45B8F5 !important;
  border-radius: 6px;
  padding: 10px 25px;
}
.c-blue-outline-btn .ant-btn > p {
  color: #45B8F5 !important;
}
.c-blue-outline-btn .ant-btn:focus {
  background-color: #45B8F5 !important;
}
.c-blue-outline-btn .ant-btn:focus p {
  color: #fff !important;
}
.c-blue-outline-btn--disabled .ant-btn {
  background-color: transparent !important;
  border: 1px solid #ABABAB !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-blue-outline-btn--disabled .ant-btn > p {
  color: #ABABAB !important;
}
.c-filled-btn .ant-btn {
  border: none !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-filled-btn .ant-btn > p {
  color: #fff !important;
}
.c-filled-btn--blue .ant-btn {
  background-color: #45B8F5 !important;
}
.c-filled-btn--primary .ant-btn {
  background-color: #001560 !important;
}
.c-filled-btn--disabled .ant-btn {
  background-color: transparent !important;
  border: 1px solid #ABABAB !important;
  border-radius: 6px;
  padding: 25px 32px;
}
.c-filled-btn--disabled .ant-btn > p {
  color: #ABABAB !important;
}
.ant-badge-count {
  box-shadow: 0 0 0 3px #001560 !important;
  font-size: 10px !important;
}
.c-checkbox-simple .ant-checkbox {
  padding-top: 2px !important;
}
.c-checkbox-simple .ant-checkbox + span {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.c-checkbox-simple .ant-checkbox-inner {
  width: 16px !important;
  height: 16px !important;
  border: none !important;
}
.c-checkbox-primary .ant-checkbox-inner {
  width: 20.5px !important;
  height: 20.5px !important;
  border: 1px solid #001560 !important;
  border-radius: 5px !important;
}
.c-checkbox-primary .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #001560 !important;
}
.c-checkbox-primary .ant-checkbox-checked .ant-checkbox-inner::after {
  left: 4.5px !important;
  bottom: 1px !important;
  transform: rotate(45deg) scale(1.3) translate(-50%, -50%) !important;
}
.c-input-border-none .ant-input {
  border: none !important;
}
.c-white-collapse .ant-collapse > .ant-collapse-item:last-child,
.c-white-collapse .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  padding-left: 7px !important;
  background-color: #fff !important;
}
.c-white-collapse .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 20px !important;
  color: #001560 !important;
  transform: rotate(90deg) !important;
  padding: 10px 8px !important;
}
.c-white-collapse .ant-collapse-item-active svg {
  transform: rotate(180deg) !important;
}
.c-white-collapse .ant-collapse-content {
  border: none !important;
}
.c-white-collapse .ant-collapse-content-box {
  padding-left: 8px !important;
  padding-right: 12px !important;
}
.c-tabs-sm .ant-tabs-tab {
  padding: 5px;
  padding-left: 10px !important;
}
.c-tabs-sm .ant-tabs-nav-wrap {
  background-color: #fff !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.c-tabs .ant-tabs-tab {
  justify-content: center !important;
  width: 100% !important;
}
.c-tabs .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.c-tabs .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 99% !important;
}
.c-tabs .ant-tabs-ink-bar {
  background: #001560;
}
.c-tabs .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.c-tabs .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.c-tabs .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.c-tabs .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
  height: 4px !important;
}
.c-tabs-primary-bar .ant-tabs-ink-bar {
  background: #001560;
}
.c-primary-filled-input .ant-input {
  border: none !important;
  border-radius: 6px;
  padding: 12px 10px !important;
  background-color: #415087 !important;
}
.c-round-filled-input .ant-input {
  border: none !important;
  border-radius: 12px;
  padding: 20px 10px !important;
  background-color: rgba(209, 215, 227, 0.3) !important;
}
.c-round-filled-input--light .ant-input {
  border: none !important;
  border-radius: 12px;
  padding: 12px 10px !important;
  background-color: rgba(241, 243, 247, 0.3) !important;
}
.c-round-filled-select-item .ant-form-item-label {
  position: absolute;
  top: 0;
  left: 10px;
}
@media (max-width: 576px) {
  .c-round-filled-select-item .ant-form-item-label {
    left: 5px !important;
  }
}
.c-round-filled-select-item .ant-form-item-label > label {
  font-size: 14px !important;
  color: #001560 !important;
}
.c-round-filled-select-item .ant-form-item-label > label::before {
  content: '' !important;
}
.c-round-filled-select-item .ant-form-item-label > label::after {
  content: '' !important;
}
@media (max-width: 576px) {
  .c-round-filled-select-item .ant-form-item-label > label {
    font-size: 13px !important;
  }
}
.c-round-filled-select .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 50px !important;
}
.c-round-filled-select .ant-select-selection-search {
  padding-top: 20px !important;
}
.c-round-filled-select .ant-select-selector {
  border: none !important;
  border-radius: 12px !important;
  padding: 20px 0 10px 20px  !important;
  background-color: rgba(209, 215, 227, 0.3) !important;
}
.c-round-filled-select .ant-select-arrow {
  font-size: 16px !important;
  color: #001560 !important;
  margin-right: 10px !important;
  top: 59% !important;
}
@media (max-width: 576px) {
  .c-round-filled-select .ant-select-arrow {
    font-size: 13px !important;
    margin-right: 1px !important;
  }
}
.c-primary-input .ant-input {
  border: 1px solid #001560 !important;
  border-radius: 6px;
  padding: 12px 10px !important;
}
.c-primary-password-input #basic-password.ant-input {
  background-color: #5FE90A !important;
  color: #001560 !important;
}
.c-primary-password-input .ant-input-affix-wrapper {
  border: 1px solid #001560 !important;
  border-radius: 6px;
  padding: 12px 10px !important;
}
.c-primary-password-input svg {
  fill: #001560 !important;
}
.c-primary-password-input--primary-input .ant-input {
  color: #001560 !important;
}
.c-edit-profile-form .ant-form-item {
  display: flex !important;
  flex-direction: column !important;
}
.c-edit-profile-form .ant-form-item-label {
  align-self: flex-start !important;
  margin-bottom: 7px !important;
}
.c-edit-profile-form .ant-form-item-label > label {
  font-size: 14px !important;
  color: #001560 !important;
  opacity: 0.4;
}
.c-edit-profile-form .ant-form-item-label > label::before {
  content: '' !important;
}
.c-edit-profile-form .ant-form-item-label > label::after {
  content: '' !important;
}
.ant-modal-content {
  border-radius: 6px !important;
}
.c-primary-modal .ant-modal-content {
  background-color: #0D276B !important;
  border-radius: 6px !important;
}
.c-modal-padding-none .ant-modal-body {
  padding: 0 !important;
}
.c-autocomplete--gray .ant-select-selector {
  background-color: #EDEDED !important;
  border: none !important;
}
.c-autocomplete--gray .ant-select-selection-placeholder {
  color: #7B7C7E !important;
}
.c-autocomplete .ant-select-selector {
  height: 100% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.c-autocomplete .ant-select-selector .ant-select-selection-search input {
  height: 100% !important;
}
.c-autocomplete .ant-select-selector .ant-select-selection-placeholder {
  padding-top: 10px !important;
}
.c-select .ant-select {
  height: 100% !important;
}
.c-select .ant-select .ant-select-selector {
  border: none !important;
  outline: none !important;
  height: 100% !important;
  background-color: #0D276B !important;
  padding-top: 10px !important;
  padding-left: 15px !important;
  cursor: pointer !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.c-select .ant-select .ant-select-selector:focus,
.c-select .ant-select .ant-select-selector:active {
  border: none !important;
  outline: none !important;
}
.c-select .ant-select .ant-select-selection-search input {
  height: 100% !important;
  max-width: 0 !important;
}
.c-select .ant-select .ant-select-arrow {
  color: #5fe90a !important;
  margin-right: 10px !important;
}
@media (max-width: 1280px) {
  .c-select .ant-select .ant-select-arrow {
    margin-right: 5px !important;
  }
}
.ant-select-item {
  background-color: transparent !important;
}
.c-divider .ant-divider-horizontal {
  margin: 10px auto !important;
  min-width: 70% !important;
}
.c-drawer-round .ant-drawer-content {
  border-top-left-radius: 20px !important;
}
.ant-drawer-close:focus,
.ant-drawer-close:hover {
  outline: none !important;
}
.ant-modal-close {
  outline: none !important;
}
.c-modal-header-sm .ant-modal-header {
  padding: 10px !important;
}
/*# sourceMappingURL=customAntd.css.map */