@primary-color: #001560;
@secondary-color: #5FE90A;
@accent-color: #FBAA9E;
@danger-color: #EB6B6B;
@warning-color: #F3BA2F;
@success-color: #4AC8AA;
@gray-color: #ABABAB;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@400;700&display=swap');

