@primary-color: #001560;
@secondary-color: #5FE90A;
@accent-color: #FBAA9E;
@danger-color: #EB6B6B;
@warning-color: #F3BA2F;
@success-color: #4AC8AA;
@gray-color: #ABABAB;
@item-border-color: #EDEDED;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@400;700&display=swap');

.child-mb {
  &--sm {
  &>* {
    margin-bottom: 14px;
  }
  }
  &--base {
  &>* {
    margin-bottom: 16px;
  }
  }
  &--lg {
  &>* {
    margin-bottom: 18px;
  }
  }
  &--xl {
  &>* {
    margin-bottom: 20px;
  }
  }
}

.child-borderBottom {
  & > *:not(:last-child) {
    border-bottom: 1px solid @item-border-color;
  }
}

.primary-placeholder {
  &--fade {
  input::placeholder {
   color: @primary-color !important;
   opacity: 0.6 !important;
  }
 }
}

.page-header {
  &-slider {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }
  &-base {
    height: 90px;
    width: 100%;
  }
  &:hover &-slider {
    width: 100%;
    opacity: 1;
  }
}

.home-page {
  min-height: calc(100vh - 205px);
  &_full {
  min-height: calc(100vh - 302px);
  @media(max-width: 768px) {
  min-height: calc(100vh - 295px);
  }
  @media(max-width: 640px) {
  min-height: calc(100vh - 218px);
  }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E9E9E9;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.stories-slider {
  display: grid;
  grid-template-columns: 90px 1fr;
}

.sticky-position {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.stories-left-arrow {
      top: 32px;
      left: 120px;
  @media(max-width: 1200px) {
    @media(min-width: 1024px) {
      left: 105px;
    }
  }
}

